/* font-family: 'Open Sans', sans-serif; */

:root {
    --color-main: #ff0000;
    --color-bg: #282828;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 90px;
    background: rgba(0 0 0 / 0.4);
    border-bottom: 1px solid rgba(255 255 255 / 0.2);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}
.logo img {
    margin-right: 10px;
}
.logo span {
    margin-right: 5px;
    color: var(--color-main);
}

.menu {
    height: 100%;
}
.menu-list {
    height: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-list li {
    height: 100%;
}
.menu-list a {
    height: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 0 40px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}
.menu-list a:hover {
    background-color: rgba(255 255 255 / 0.2);
}


/* hero */
.hero {
    height: calc(100vh - 50px);
    background: url(../images/image.jpg);
    background-size: cover;
    position: relative;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* lub inset: 0; ktore jest shorthandem dla top right bottom left */
    background: rgba(0 0 0 / 0.3);
    z-index: -1;
}
.hero-inside {}
.hero-title {
    font-size: 90px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    text-align: center;
    margin: 0;
}
.hero-text {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    max-width: 1000px;
    margin: 20px auto;
}
.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}
.hero-button {
    width: 220px;
    height: 66px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.hero-button-1 {
    background: #fff;
    color: var(--color-main);
}
.hero-button-2 {
    background: var(--color-main);
    color: #fff;
}
.hero-arrow {
    width: 55px;
    height: 55px;
    background-color: var(--color-main);
    background-image: url(../images/icon%20arrow%20down.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    box-shadow: 0 3px 6px rgba(0 0 0 / 0.4);
    border-radius: 50%;
    translate: -50% 50%;
}
.blog-content {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.blog-content-article {
    padding: 15px;
}
.blog-content-article-img {
    max-width: 100%;
    height: auto;
}
.blog-section-title {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-section-title::after, .blog-section-title::before {
    content: "";
    width: 50px;
    height: 3px;
    background-color: red;
    border-radius: 8px;
}

.blog-article-btn {
    height: 40px;
    background-color: red;
    border-radius: 20px;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.blog-article-btn:hover {
    color: darkred;
    transition: 0.2s;

}
.service {
    background-color: #282828;
    color: white;
}
.service-article-title {
    font-size: 19px;
   text-transform: uppercase;
}
.service-content {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.service-content-article {
    padding: 15px;
}
.service-content-article-img {
    max-width: 100%;
    height: auto;
}
.service-section-title {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-section-title::after, .service-section-title::before {
    content: "";
    width: 50px;
    height: 3px;
    background-color: red;
    border-radius: 8px;
}

.service-article-btn {
    height: 40px;
    background-color: red;
    border-radius: 20px;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.service-article-btn:hover {
    color: darkred;
    transition: 0.2s;

}
.service-article-title {
    font-size: 19px;
    text-transform: uppercase;
}